/* Publications.css */

.publication-entry {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.publication-index {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.2em;
}

.publication-content {
  flex: 1;
}

.publication-content a {
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.5;
  color: #007bff;
}

.publication-content a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1140px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #343a40;
  text-align: center;
}

@media (max-width: 768px) {
  .publication-entry {
    flex-direction: column;
  }

  .publication-index {
    margin-bottom: 5px;
  }
}
